
@media (min-width: 600px) and (max-width: 1199px) {

    .header{
        padding: 10px 20px;
    }
    main{
        padding: 120px 0 0 0;
    }

    .header__logo {
        margin: 0.8rem;
        height: 1%;
        width: 30%;
    }

    .header__input {
        width: 45%;
        height: 30px;
        display: flex;
        align-self: center;
        padding: 5px;
    }

    input::placeholder {
        color: #888;
        /* Cambia el color del texto del placeholder */
        font-size: 14px;
        /* Cambia el tamaño de la fuente del placeholder */
        font-style: italic;
        /* Cambia el estilo de la fuente del placeholder (opcional) */

    }

    .card__section {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 25px 10px;
        box-sizing: border-box;
    }

    .ul__cards {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        box-sizing: border-box;
        gap: 25px;
    }


    .card {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .card__image {
        width: 100%;
        height: 80%;
    }

    .card__title {
        width: 100%;
        padding: 15px;
        margin: 0;
        font-size: 15px;
        box-sizing: border-box;

    }

    .card__subtitle {
        display: none;
    }

    .lista__menu {
        margin-left: 10%;
        font-size: 12px;

    }

    .gallery__text {
        font-size: 14px;
    }

    ::placeholder {
        font-size: 12px;
        margin: 3%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        gap: 15px;
        padding: 50px;

    }

    .footer__icons {
        margin: 0;
        width: 150px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .fa-twitter {
        margin: 0;
    }



    .footer__text {
        font-size: 15px;
        margin: 0;
        text-align: center;
    }
}



@media (max-width: 599px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

    }
    main{
        padding: 150px 0 50px 0;
    }

    .header__logo {

        margin: 0;
        min-width: 50%;
        height: auto;
        padding: 10px;
    }

    .header__input {
        width: 90%;
        height: 30px;
        display: flex;
        align-self: center;
        padding: 5px;

    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    .banner__image {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .card__section {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .ul__cards {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        box-sizing: border-box;
        gap: 25px;

    }

    .card {
        height: 100%;
        width: 100%;

    }

    .card__image {
        width: 100%;
        height: 80%;
    }

    .card__title {
        width: 100%;
        padding: 15px;
        margin: 0;
        font-size: 15px;
        box-sizing: border-box;
    }

    .grouping {
        display: flex;
        flex-direction: column;
    }

    .aside {
        width: 100%;

    }

    .lista__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    .item__lista {
        font-size: 15px;
        font-weight: 600;
    }

    .gallery__text {
        font-size: 14px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: var(--main-color);
        padding: 50px;
        box-sizing: border-box;
    }

    .footer__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 150px;

    }

 

    .footer__text {
        font-size: 15px;
        margin: 0;
        text-align: center;
    }
}