/* Definición de variables CSS */
:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: #001634;
    --white: #d4d4d4;
    --secondary-color: #7B78E5;
}

/* Estilos para el cuerpo del documento */
body {
    color: var(--white);
    background: var(--main-color);
    background: linear-gradient(90deg, rgba(4, 24, 51, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    flex-direction: column;
}

/* Estilos para la cabecera */
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(4, 24, 51, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
main{
    width: 100%;
    height: auto;
    padding: 150px 0 0 0;

}

.header__logo {
    margin: 0.8rem;
    height: 5%;
    width: 15%;
}

.header__input {
    width: 50%;
    height: 30px;
    padding: 10px;
    background-color: transparent;
    border-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--white);

}

/* Estilos para los placeholders */
::placeholder {
    color: #a2a2a2;
    opacity: 1;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
   
}

/* Estilos para el contenedor principal */
.grouping {
    display: flex;
    flex-direction: row;
}

/* Estilos para la barra lateral */
.aside {
    width: 18%;
}

.lista__menu {
    display: flex;
    flex-direction: column;
    margin: 2% 10% 0% 10%;
    height: 20%;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.item__lista {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-bottom: 7%;
}

/* Estilos para los iconos de la barra lateral */
.fa-house {
    margin-right: 5%;
}

.fa-eye {
    margin-right: 5%;
}

.fa-thumbs-up {
    margin-right: 5%;
}

.fa-lightbulb {
    margin-right: 5%;
}

/* Estilos para el banner */
.banner {
    display: flex;
    flex-direction: column;
    width: 80%;

}



.gallery__text {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 1%;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-color);
}

/* Estilos para la sección de tarjetas */
.card__section {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 25px 15px;
    box-sizing: border-box;
}

.ul__cards {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 300px;
    background-color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 2%;
    margin-left: 2%;
}

.card__image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-items: center;
    border-radius: 10px 10px 0px 0px;
}

.card__title {
    font-size: 15px;
    padding: 15px;
    font-weight: 100;
    text-align: center;
}

.card__subtitle {
    font-size: 10px;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.card__information {
    display: flex;
    flex-direction: row;
}

/* Estilos para el pie de página */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    gap: 15px;
    padding: 50px;
    box-sizing: border-box;

}

.footer__icons {
    margin: 0;
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.fa-twitter {
    margin: 0;
}


.footer__text {
    font-size: 15px;
    margin: 0;
    text-align: center;
}